<div class="jumbotron">
  <p><img src="/images/icon.png"></p>

  <h2>Bienvenido a Conectar Info</h2>
  <p class="lead">Una API para notificar novedades y actualizaciones de
    seguridad para conectar igualdad.
    </p>
</div>

<div class="row marketing">
</div>
